* {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
}

a {
  color: inherit;
}

body {
	background: rgba(212,228,239,1);
	background: -moz-linear-gradient(left, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(212,228,239,1)), color-stop(100%, rgba(134,174,204,1)));
	background: -webkit-linear-gradient(left, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 100%);
	background: -o-linear-gradient(left, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 100%);
	background: -ms-linear-gradient(left, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 100%);
	background: linear-gradient(to right, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4e4ef', endColorstr='#86aecc', GradientType=1 );
}

header {
	width: 980px;
	margin: 0 auto;
}

.main-header, .plugin__header, .instructions__header {
	margin: 50px;
	text-align: center;
}

.about-me, .about-my-plugin__text, .instructions__text{
	margin: 10px 0;
	line-height: 26px;
	font-size: 17px;
}

.about-me--list {
	list-style-position: inside;
}

.about-my-plugin, .instructions {
	margin: 50px auto;
	width: 980px;
}

.about-my-plugin__text--show-up {
	color: brown;
}

.homer-box {
	position: relative;
	width: 980px;
	height: 220px;
	margin: 0 auto;
	border: 1px solid black;
	border-radius: 8px;
	background: rgba(210,255,82,1);
	background: -moz-linear-gradient(left, rgba(210,255,82,1) 0%, rgba(145,232,66,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(210,255,82,1)), color-stop(100%, rgba(145,232,66,1)));
	background: -webkit-linear-gradient(left, rgba(210,255,82,1) 0%, rgba(145,232,66,1) 100%);
	background: -o-linear-gradient(left, rgba(210,255,82,1) 0%, rgba(145,232,66,1) 100%);
	background: -ms-linear-gradient(left, rgba(210,255,82,1) 0%, rgba(145,232,66,1) 100%);
	background: linear-gradient(to right, rgba(210,255,82,1) 0%, rgba(145,232,66,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2ff52', endColorstr='#91e842', GradientType=1 );
}

.homer {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 90px;
	height: 130px;
	background-image: url(../img/homer-looks-right.png);
	-webkit-transition: bottom 400ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
	transition:         bottom 400ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.homer--walks-to-right {
	background-image: url(../img/homer-walks-to-right.gif);
}

.homer--looks-left {
	background-image: url(../img/homer-looks-left.png);	
}

.homer--walks-to-left {
	background-image: url(../img/homer-walks-to-left.gif);
}

.homer--jumps {
	bottom: 40px;
}

.homer-on-the-top {
	bottom: 220px;
}

.about-my-plugin__input {
	margin: 15px 0;
	padding: 0 0 0 15px;
	width: 965px;
	height: 26px;
}

.about-my-plugin__text--margin {
	margin-top: 50px;
}

.about-my-plugin__text--hidden-block {
	display: none;
	color: brown;
}

.instructions__code {
	display: block;
	margin: 25px 0 25px 35px;
	padding: 30px;
	border-radius: 8px;
	background: grey;
	color: white;
}

footer {
	margin: 80px auto 0;
	padding: 30px;
	width: 920px;
}

.footer-data {
	display: inline-block;
	margin-right: 35px;
}

.footer-data__header {
	font-size: 16px;
	font-weight: bold;
}

.footer-data__text {
	font-size: 16px;
	font-weight: normal;
}